@model PostVM

<partial name="_PostDetail" />
<div>
    <div>
        <form asp-action="DeletePost">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Usuń post" class="btn btn-danger"/>
            <a asp-action="PostList" class="btn btn-default">Powrót</a>
        </form>
    </div>
</div>
