body, html {
    overflow: hidden;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/images/bg-masthead.jpg');
    background-repeat: repeat;
}

.title-class {
    background-color:grey;
    font: bold;
}

.footer {
    background: #222831;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    color: white;
    text-align: center;
}
.footer p {
    text-align: center;
}

.list-post-container
{
    float:right;
    padding:3px; 
}

.list-post {
    overflow: auto;
    height: 400px;
}